## DATA EXPLORATION AND TRANSFORMATION

In [3]:
import pandas as pd

# Read the consolidated file
file_path = 'lista_certificados/anion_data/consolidado.xlsx'
df = pd.read_excel(file_path)

# Display the first few rows
display(df.head())
print(f"Dimensions: {df.shape}")

,COORDINADORA,CURSO,NOTA,NOTA TXT,PERIODO,HORAS,CIUDAD
0,FELIX,DISEÑO DE PÁGINAS WEB - NIVEL BÁSICO,17.0,DIECISIETE,31 - mayo - 2022 al 11 - junio - 2022,120 horas,LIMA
1,ROSA,DISEÑO DIGITAL CON CANVA - NIVEL BÁSICO,19.0,DIECINUEVE,23 - mayo - 2022 al 03 - junio - 2022,120 horas,ICA
2,LUCIA,DISEÑO DIGITAL CON CANVA - NIVEL INTERMEDIO,15.0,QUINCE,07 - junio - 2022 al 18 - junio - 2022,120 horas,LIMA
3,LUCIA,DISEÑO DIGITAL CON CANVA - NIVEL INTERMEDIO,19.0,DIECINUEVE,07 - junio - 2022 al 18 - junio - 2022,120 horas,LIMA
4,LUCIA,DISEÑO DIGITAL CON CANVA - NIVEL INTERMEDIO,19.0,DIECINUEVE,07 - junio - 2022 al 18 - junio - 2022,120 horas,LIMA

Dimensions: (6896, 7)

### COLUMN COORDINADORA

In [4]:
# Analyze the 'COORDINADORA' column
print("--- Unique Values Analysis: COORDINADORA ---")

# Number of unique values
unique_count = df['COORDINADORA'].nunique()
print(f"Number of unique values: {unique_count}")

# List of unique values
print(f"\nUnique values found: {df['COORDINADORA'].unique()}")

# Frequency of each value (Value Counts)
print("\nFrequency of each coordinator:")
display(df['COORDINADORA'].value_counts())

--- Unique Values Analysis: COORDINADORA ---
Number of unique values: 49

Unique values found: ['FELIX' 'ROSA' 'LUCIA' 'ELIZABETH B' 'MIRIAN' 'ELIZABETH F' 'HENRY'
 'ALEXANDRA' 'LUIGUI' 'ELIZABETH' 'DROSA' 'BRILLIT' 'DELIZABETH'
 'MARGARITA' 'DHENRY' nan 'ANA SOFIA' 'REBECA' 'INGRID' 'ALEXA' 'LUGUI'
 'JOSE' 'Rosa' 'Felix' 'Elizabeth' 'Henry' 'Luigui' 'Alexandra' 'Brillit'
 'Lucia' 'Margarita' 'ING JOSE' 'RICHARD' 'BRILLIT D' 'LUIGUI D' 'PAMELA'
 'Naysha' 'DLUCIA' 'YULISA' 'KAROL' 'KATHERINE' 'ANA' 'NAYSHA' 'JUDITH'
 'ANNYE' 'GABRIELA' 'ELIZABET F' 'ROSA ' 'ELIZABETH ' 'ING. JOSE']

Frequency of each coordinator:

COORDINADORA
HENRY          943
BRILLIT        907
FELIX          850
ROSA           779
ELIZABETH      493
LUCIA          445
LUIGUI         439
ALEXANDRA      271
MARGARITA      260
ALEXA          146
INGRID          97
ANA SOFIA       95
ELIZABETH F     80
Margarita       58
ELIZABETH B     57
YULISA          56
MIRIAN          52
PAMELA          42
Rosa            42
Luigui          34
Elizabeth       28
Alexandra       24
RICHARD         21
Felix           20
Henry           19
Lucia           17
ELIZABET F      16
GABRIELA        13
KATHERINE       11
KAROL            7
ING JOSE         5
NAYSHA           5
REBECA           5
ANNYE            4
ING. JOSE        4
JUDITH           4
JOSE             3
LUGUI            3
ROSA             2
DHENRY           2
ELIZABETH        2
DROSA            1
DELIZABETH       1
BRILLIT D        1
Brillit          1
ANA              1
LUIGUI D         1
Naysha           1
DLUCIA           1
Name: count, dtype: int64

### COLUMN CURSO

In [5]:
# Analyze the 'CURSO' column
print("--- Unique Values Analysis: CURSO ---")

# Number of unique values
unique_count = df['CURSO'].nunique()
print(f"Number of unique values: {unique_count}")

# List of unique values
print(f"\nUnique values found: {df['CURSO'].unique()}")

# Frequency of each value (Value Counts)
print("\nFrequency of each course:")
display(df['CURSO'].value_counts())

--- Unique Values Analysis: CURSO ---
Number of unique values: 173

Unique values found: ['DISEÑO DE PÁGINAS WEB - NIVEL BÁSICO'
 'DISEÑO DIGITAL CON CANVA - NIVEL BÁSICO'
 'DISEÑO DIGITAL CON CANVA - NIVEL INTERMEDIO'
 'DISEÑO GRÁFICO CON CORELDRAW - NIVEL INTERMEDIO'
 'HERRAMIENTAS DE GAMIFICACIÓN'
 'IMPLEMENTACIÓN Y ADMINISTRACIÓN DE AULAS DE INNOVACIÓN PEDAGÓGICA'
 'INGLÉS - NIVEL BÁSICO A1' 'MICROSOFT WORD - NIVEL BÁSICO'
 'OFIMÁTICA PROFESIONAL (MICROSOFT WORD, EXCEL Y POWERPOINT) - NIVEL AVANZADO'
 'OFIMÁTICA PROFESIONAL (MICROSOFT WORD, EXCEL Y POWERPOINT) - NIVEL BÁSICO'
 'SOFTWARE EDUCATIVOS PARA CLASES SIN CONECTIVIDAD'
 'SOPORTE TÉCNICO DE PC – NIVEL 1'
 'APPS EDUCATIVOS PARA DISPOSITIVOS MÓVILES'
 'DISEÑO GRÁFICO CON CANVA PARA DOCENTES'
 'EDICIÓN DE VIDEOS EDUCATIVOS CON CAMTASIA' 'EXCEL PARA DOCENTES'
 'HERRAMIENTAS GOOGLE PARA DOCENTES'
 'HERRAMIENTAS TIC PARA EL APRENDIZAJE HÍBRIDO'
 'HERRAMIENTAS TIC PARA TRABAJOS COLABORATIVOS'
 'HERRAMIENTAS TIC PARA MATEMÁTICAS' 'INGLÉS - NIVEL BÁSICO A2'
 'INGLÉS - NIVEL INTERMEDIO B1' 'MICROSOFT EXCEL - NIVEL BÁSICO'
 'MICROSOFT EXCEL - NIVEL INTERMEDIO'
 'OFIMÁTICA PROFESIONAL (MICROSOFT WORD, EXCEL Y POWERPOINT) - NIVEL INTERMEDIO'
 'POWERPOINT - NIVEL INTERMEDIO'
 'PRESENTACIONES INTERACTIVAS EN POWERPOINT '
 'QUECHUA NORTEÑO - NIVEL BÁSICO A1'
 'QUECHUA SUREÑO CHANKA - NIVEL BÁSICO A1'
 'QUECHUA SUREÑO CHANKA - NIVEL BÁSICO A2'
 'REDES Y CONECTIVIDAD - NIVEL BÁSICO' 'ASISTENTE ADMINISTRATIVO'
 'MICROSOFT EXCEL - NIVEL AVANZADO'
 'REDACCIÓN DE DOCUMENTOS ADMINISTRATIVOS'
 'ASISTENTE ADMINISTRATIVO EN LA GESTIÓN PÚBLICA'
 'ASISTENTE DE RECURSOS HUMANOS'
 'SISTEMA INTEGRADO DE ADMINISTRACIÓN FINANCIERA (SIAF) - MÓDULO PRESUPUESTARIO'
 'POWERPOINT - NIVEL BÁSICO' 'OBS STUDIO'
 'OFIMÁTICA PROFESIONAL (MICROSOFT WORD, EXCEL Y POWERPOINT) -  NIVEL AVANZADO'
 'DISEÑO GRÁFICO CON CORELDRAW - NIVEL BÁSICO'
 'PRESENTACIONES INTERACTIVAS CON GENIALLY' 'ORGANIZADORES GRÁFICOS'
 'AULAS VIRTUALES CON MOODLE' 'REDACCIÓN Y DIGITACIÓN'
 'PROGRAMACIÓN EN PYTHON - NIVEL BÁSICO' 'EDICIÓN DE VÍDEOS CON FILMORA'
 'HERRAMIENTAS DE GAMIFICACIÓN ' 'BASE DE DATOS CON MYSQL - NIVEL BÁSICO'
 'HERRAMIENTAS VIRTUALES PARA MATEMÁTICAS'
 'DISEÑO GRÁFICO CON PHOTOSHOP - NIVEL BÁSICO'
 'DISEÑO DE PÁGINAS WEB - NIVEL INTERMEDIO'
 'EDICIÓN DE VIDEOS PARA DOCENTES' 'EXCEL PARA DOCENTES - NIVEL BÁSICO'
 'INGLÉS - NIVEL INTERMEDIO B2' 'MICROSOFT POWERPOINT - NIVEL BÁSICO'
 'PROGRAMACIÓN EN JAVASCRIPT - NIVEL BÁSICO'
 'ASISTENTE CONTABLE - NIVEL BÁSICO'
 'DISEÑO GRÁFICO CON ADOBE PHOTOSHOP - NIVEL BÁSICO'
 'CREACIÓN DE FICHAS INTERACTIVAS'
 'DISEÑO GRÁFICO CON CORELDRAW – NIVEL BÁSICO'
 'DISEÑO GRÁFICO CON PHOTOSHOP – NIVEL BÁSICO' 'PIZARRAS VIRTUALES'
 'QUECHUA SUREÑO COLLAO - NIVEL BÁSICO A2'
 'QUECHUA SUREÑO COLLAO - NIVEL BÁSICO A1'
 'SOFTWARE EDUCATIVOS PARA TRABAJOS SIN CONECTIVIDAD'
 'MICROSOFT EXCEL NIVEL AVANZADO'
 'EDICIÓN DE VÍDEOS EDUCATIVOS CON CAMTASIA'
 'HERRMIENTAS TIC PARA MATEMÁTICAS'
 'ASISTENTE ADMINISTRATIVO COMPUTARIZADO'
 'ASISTENTE CONTABLE - NIVEL INTERMEDIO' 'EXCEL FINANCIERO'
 'MICROSOFT PROJECT - NIVEL BÁSICO'
 'OFIMÁTICA PROFESIONAL (MICROSOFT WORD, EXCEL Y POWERPOINT) - NIVEL INTERMEDIO '
 'POWER BI - NIVEL INTERMEDIO' 'CANVA - NIVEL BÁSICO'
 'INGLÉS - NIVEL BÁSICO A3'
 'ACTUALIZACIÓN DE HERRAMIENTAS TIC PARA EL APRENDIZAJE HÍBRIDO - NIVEL BÁSICO'
 'PREPARACIÓN PARA EL EXAMEN ESCRITO DE QUECHUA CHANKA '
 'FUNDAMENTOS DE MATEMÁTICA' 'HERRAMIENTAS COLABORATIVAS EN TIEMPO REAL'
 'MICROSOFT POWERPOINT - NIVEL INTERMEDIO'
 'PROGRAMACIÓN EN PYTHON - NIVEL 1'
 'QUECHUA SUREÑO CHANKA - NIVEL INTERMEDIO B1'
 'QUECHUA SUREÑO CHANKA - NIVEL PRINCIPIANTE'
 'QUECHUA SUREÑO COLLAO - NIVEL INTERMEDIO B1'
 'PORTUGUÉS - NIVEL PRINCIPIANTE'
 'BASE DE DATOS CON MySQL - NIVEL BÁSICO ' 'REDACCIÓN ADMINISTRATIVA'
 'DISEÑO WEB - NIVEL BÁSICO'
 'ELABORACIÓN DE MATERIALES EDUCATIVOS CON CANVA Y GENIALLY'
 'HERRAMIENTAS GOOGLE PARA EDUCACIÓN'
 'HERRAMIENTAS TIC PARA CLASES INTERACTIVAS' 'INGLÉS – NIVEL BÁSICO A2'
 'MICROSOFT EXCEL PROFESIONAL - NIVEL BÁSICO' 'INGLÉS – NIVEL BÁSICO A1'
 'MICROSOFT EXCEL PROFESIONAL -  NIVEL AVANZADO'
 'ACTUALIZACIÓN EN HERRAMIENTAS TIC PARA EL APRENDIZAJE HÍBRIDO'
 'ACTUALIZACIÓN EN HERRAMIENTAS TIC PARA EL APRENDIZAJE HÍBRIDO - NIVEL BÁSICO'
 'ACTUALIZACIÓN EN HERRAMIENTAS TIC PARA EL APRENDIZAJE HÍBRIDO - NIVEL INTERMEDIO'
 'CUENTOS INTERACTIVOS EN POWERPOINT'
 'PIZARRAS VIRTUALES PARA EL DICTADO DE CLASES'
 'MICROSOFT EXCEL- NIVEL BÁSICO' 'MICROSOFT EXCEL -  NIVEL INTERMEDIO'
 'POWERPOINT NIVEL BÁSICO' 'BASE DE DATOS CON ACCESS'
 'DISEÑO GRÁFICO CON PHOTOSHOP - NIVEL INTERMEDIO'
 'FUNDAMENTOS DE PROGRAMACIÓN' 'HISTORIETAS INTERACTIVAS CON SCRATCH'
 'ORTOGRAFÍA Y REDACCIÓN'
 'QUECHUA CHANKA PARA PRINCIPIANTES - NIVEL BÁSICO A1'
 'REDES Y CONECTIVIDAD' 'ASISTENTE DE PLANILLAS'
 'DISEÑO PROFESIONAL CON ADOBE PHOTOSHOP - NIVEL BÁSICO'
 'INGLES - NIVEL BASICO A2' 'CREACIÓN DE RECURSOS EDUCATIVOS'
 'IMPLEMENTACIÓN DE AULAS VIRTUALES CON GOOGLE CLASSROOM'
 'MICROSOFT WORD - NIVEL INTERMEDIO' 'PROYECTOS CON SCRATCH'
 'DISEÑO PROFESIONAL CON CANVA' 'ITALIANO - NIVEL BÁSICO A1'
 'PRESENTACIONES EFECTIVAS EN POWERPOINT - NIVEL BÁSICO'
 'HERRAMIENTAS TIC PARA EVALUACIONES' 'PORTUGUÉS - NIVEL BÁSICO A2'
 'POWER BI - NIVEL BÁSICO' 'PROGRAMACIÓN DE MACROS EN EXCEL'
 'DISEÑO GRÁFICO CON ADOBE ILLUSTRATOR - NIVEL BÁSICO'
 'MICROSOFT EXCEL - NIVEL BÁSICO ' 'MICROSOFT POWER BI - NIVEL BÁSICO'
 'HERRAMIENTAS VIRTUALES PARA MARKETING DIGITAL'
 'PROGRAMACIÓN EN PYTHON - NIVEL 2' 'MICROSOFT TEAMS'
 'MICROSOFT EXCEL PROFESIONAL - NIVEL INTERMEDIO'
 'MICROSOFT EXCEL PROFESIONAL - NIVEL AVANZADO'
 'HERRAMIENTAS TIC PARA DOCENTES - NIVEL BÁSICO'
 'DISEÑO GRÁFICO CON PHOTOSHOP - NIVEL INTERMEDIO '
 'HERRAMIENTAS TIC PARA LAS CLASES PRESENCIALES SIN CONECTIVIDAD'
 'MICROSOFT POWERPOINT - NIVEL AVANZADO'
 'HERRAMIENTAS TIC PARA CLASES HÍBRIDAS'
 'QUECHUA CHANKA - NIVEL INTERMEDIO B1'
 'QUECHUA CHANKA PARA PRINCIPIANTES (A1)'
 'PIZARRAS VIRTUALES INTERACTIVAS'
 'PREPARACIÓN PARA EL EXAMEN ESCRITO DE QUECHUA CHANKA'
 'IMPLEMENTACIÓN DE LA METODOLOGÍA CLASE INVERTIDA'
 'MANEJO DE PIZARRAS VIRTUALES'
 'BASE DE DATOS CON SQL SERVER - NIVEL BÁSICO'
 'PORTUGUÉS - NIVEL BÁSICO A1' 'DISEÑO GRÁFICO CON CANVA'
 'DISEÑO DE PÁGINAS WEB' 'HERRAMIENTAS DIGITALES PARA LA EMPLEABILIDAD'
 'PROGRAMACIÓN EN PYTHON – NIVEL BÁSICO' 'INGLÉS - NIVEL PRINCIPIANTE'
 'ASISTENTE DE PLANILLAS                '
 'OFIMÁTICA PROFESIONAL (MICROSOFT WORD,EXCEL Y POWERPOINT) - NIVEL INTERMEDIO'
 'PROGRAMACIÓN EN PYTHON' 'QUECHUA NORTEÑO - BÁSICO A1'
 'SOPORTE TÉCNICO DE PC - NIVEL 1' 'FUNDAMENTOS DE PYTHON'
 'CREACIÓN DE REPORTES Y DASHBOARD EN MICROSOFT EXCEL'
 'BASE DE DATOS CON MySQL - NIVEL BÁSICO'
 'DISEÑO EDITORIAL CON ADOBE INDESIGN - NIVEL BÁSICO'
 'SIAF - MÓDULO PRESUPUESTARIO' 'LIBROS ELECTRÓNICOS - SUNAT 2022'
 'COMPETENCIAS DIGITALES PARA EL AULA'
 'HERRAMIENTAS TIC OFFLINE PARA EL AULA'
 'DISEÑO DIGITAL CON CANVA - NIVEL AVANZADO'
 'BASE DE DATOS CON SQL SERVER - NIVEL 1' 'INGLES - NIVEL BASICO 2'
 'MICROSOFT POWER BI - NIVEL INTERMEDIO'
 'COMPETENCIAS DIGITALES PARA EL AULA '
 'QUECHUA CHANKA - NIVEL AVANZADO C1' 'MACROS Y PROGRAMACIÓN EN EXCEL'
 'EDICIÓN DE VÍDEOS PARA DOCENTES']

Frequency of each course:

CURSO
OFIMÁTICA PROFESIONAL (MICROSOFT WORD, EXCEL Y POWERPOINT) - NIVEL INTERMEDIO    395
OFIMÁTICA PROFESIONAL (MICROSOFT WORD, EXCEL Y POWERPOINT) - NIVEL BÁSICO        394
MICROSOFT EXCEL - NIVEL INTERMEDIO                                               331
MICROSOFT EXCEL - NIVEL BÁSICO                                                   315
OFIMÁTICA PROFESIONAL (MICROSOFT WORD, EXCEL Y POWERPOINT) - NIVEL AVANZADO      306
                                                                                ...
QUECHUA CHANKA PARA PRINCIPIANTES - NIVEL BÁSICO A1                                1
QUECHUA CHANKA PARA PRINCIPIANTES (A1)                                             1
PROGRAMACIÓN EN PYTHON – NIVEL BÁSICO                                              1
COMPETENCIAS DIGITALES PARA EL AULA                                                1
BASE DE DATOS CON MySQL - NIVEL BÁSICO                                             1
Name: count, Length: 173, dtype: int64

### COLUMN NOTA

In [6]:
# Analyze the 'NOTA' column
print("--- Unique Values Analysis: NOTA ---")

# Number of unique values
unique_count = df['NOTA'].nunique()
print(f"Number of unique values: {unique_count}")

# List of unique values
print(f"\nUnique values found: {df['NOTA'].unique()}")

# Frequency of each value (Value Counts)
print("\nFrequency of each course:")
display(df['NOTA'].value_counts())

--- Unique Values Analysis: NOTA ---
Number of unique values: 60

Unique values found: [17.         19.         15.         18.         14.         16.
 18.5        18.75       17.5        16.5        18.25       19.25
 20.         17.25       16.93333333 17.75       14.5        19.33333333
 18.71428571 15.5        15.25       16.25       18.27037037         nan
 16.75       19.33333333 18.66666667 18.33333333 17.66666667 18.66666667
 16.66666667 17.83333333 16.83333333 15.33333333 16.66666667 18.16666667
 18.33333333 17.66666667 18.83333333 14.66666667 19.5        13.66666667
 19.16666667 14.33333333 17.16666667 17.16666667 13.5        14.83333333
 20.25       14.75       19.3325     13.89       15.6675     14.25
 19.1047619  18.8631746  15.75       17.66666667 17.9        17.89285714
 17.71428571]

Frequency of each course:

NOTA
19.000000    3691
18.000000    1506
17.000000     683
16.000000     246
15.000000     196
18.500000     114
20.000000      94
14.000000      59
17.500000      51
18.333333      27
18.750000      26
16.500000      21
19.333333      16
17.250000      12
17.666667      11
18.250000      10
17.750000       9
16.250000       9
18.666667       9
19.250000       8
14.500000       8
15.500000       7
19.333333       5
16.750000       4
17.833333       4
15.250000       3
16.666667       3
15.333333       3
14.666667       3
17.666667       3
18.166667       2
19.500000       2
19.166667       2
18.833333       2
18.666667       2
16.933333       1
18.270370       1
18.714286       1
16.833333       1
16.666667       1
18.333333       1
13.666667       1
14.333333       1
17.166667       1
17.166667       1
13.500000       1
14.833333       1
20.250000       1
14.750000       1
19.332500       1
13.890000       1
15.667500       1
14.250000       1
19.104762       1
18.863175       1
15.750000       1
17.666667       1
17.900000       1
17.892857       1
17.714286       1
Name: count, dtype: int64

### COLUMN NOTA TXT

In [7]:
# Analyze the 'NOTA TXT' column
print("--- Unique Values Analysis: NOTA TXT ---")

# Number of unique values
unique_count = df['NOTA TXT'].nunique()
print(f"Number of unique values: {unique_count}")

# List of unique values
print(f"\nUnique values found: {df['NOTA TXT'].unique()}")

# Frequency of each value (Value Counts)
print("\nFrequency of each course:")
display(df['NOTA TXT'].value_counts())

--- Unique Values Analysis: NOTA TXT ---
Number of unique values: 10

Unique values found: ['DIECISIETE' 'DIECINUEVE' 'QUINCE' 'DIECIOCHO' 'CATORCE' 'DIECISÉIS'
 'VEINTE' nan 'DIECISEIS' 'QUINCE ' ' DIECISIETE']

Frequency of each course:

NOTA TXT
DIECINUEVE     3584
DIECIOCHO      1504
DIECISIETE      675
DIECISÉIS       252
QUINCE          210
VEINTE           95
CATORCE          47
DIECISEIS         1
QUINCE            1
 DIECISIETE       1
Name: count, dtype: int64

### PERIODO

In [8]:
# Analyze the 'PERIODO' column
print("--- Unique Values Analysis: PERIODO---")

# Number of unique values
unique_count = df['PERIODO'].nunique()
print(f"Number of unique values: {unique_count}")

# List of unique values
print(f"\nUnique values found: {df['PERIODO'].unique()}")

# Frequency of each value (Value Counts)
print("\nFrequency of each course:")
display(df['PERIODO'].value_counts())

--- Unique Values Analysis: PERIODO---
Number of unique values: 171

Unique values found: ['31 - mayo - 2022 al 11 - junio - 2022'
 '23 - mayo - 2022 al 03 - junio - 2022'
 '07 - junio - 2022 al 18 - junio - 2022'
 '06 - junio - 2022 al 17 - junio - 2022'
 '30 - mayo - 2022 al 10 - junio - 2022'
 '24 - mayo - 2022 al 11 - junio - 2022'
 '23 - mayo - 2022 al 11 - junio - 2022'
 '16 - mayo - 2022 al 27 - mayo - 2022'
 '21 - febrero - 2022 al 04 - marzo - 2022'
 '18 - ENERO - 2022 AL 29 - ENERO - 2022'
 '04 - ENERO - 2022 AL 15 - ENERO - 2022'
 '17 - ENERO - 2022 AL 28 - ENERO - 2022'
 '01 - FEBRERO - 2022 AL 12 - FEBRERO - 2022'
 '31 - ENERO - 2022 AL 11 - FEBRERO - 2022'
 '17 - ENERO - 2022 AL 04 - FEBRERO - 2022'
 '03 - ENERO - 2022 AL 14 - ENERO - 2022'
 '24 - ENERO - 2022 AL 11 - FEBRERO - 2022'
 '25 - ENERO - 2022 AL 12 - FEBRERO - 2022'
 '03 - ENERO - 2022 AL 21 - ENERO - 2022'
 '24 - ENERO - 2022 AL 1 1- FEBRERO - 2022'
 '23 - NOVIEMBRE - 2021 AL 04 - DICIEMBRE - 2021 '
 '10 - ENERO - 2022 AL 28 - ENERO - 2022'
 '19 - setiembre - 2022 al 30 - setiembre - 2022'
 '13 - setiembre - 2022 al 24 - setiembre - 2022'
 '20 - setiembre - 2022 al 01 - octubre - 2022'
 '21 - junio - 2022 al 09 - julio - 2022'
 '12 - setiembre - 2022 al 30 - setiembre - 2022'
 '05 - setiembre - 2022 al 16 - setiembre - 2022'
 '15 - agosto - 2022 al 26 - agosto - 2022'
 '11 - julio - 2022 al 22 - julio - 2022'
 '01 - agosto - 2022 al 12 - agosto - 2022'
 '08 - agosto - 2022 al 19 - agosto - 2022'
 '09 - agosto - 2022 al 20 - agosto - 2022'
 '20 - junio - 2022 al 08 - julio - 2022'
 '18 - julio - 2022 al 05 - agosto - 2022'
 '10 - ENERO - 2022 AL 21 - ENERO - 2022'
 '04 - ENERO - 2022 AL 22 - ENERO - 2022'
 '11 - ENERO - 2022 AL 22 - ENERO - 2022'
 '04 - OCTUBRE - 2021 AL 22 - OCTUBRE - 2021'
 '25 - OCTUBRE - 2021 AL 05 - NOVIEMBRE - 2021'
 '26 - OCTUBRE - 2021 AL 06 - NOVIEMBRE - 2021'
 '05 - ENERO - 2022 AL 14 - ENERO - 2022'
 '08 - MARZO - 2021 AL 31 - MARZO - 2021'
 '08 - NOVIEMBRE - 2021 AL 26 - NOVIEMBRE - 2021'
 '17 - mayo - 2022 al 28 - mayo - 2022'
 '25 - abril - 2022 al 06 - mayo - 2022'
 '11 - abril - 2022 al 22 - abril - 2022'
 '07 - marzo - 2022 al 18 - marzo - 2022'
 '02 - agosto - 2022 al 13 - agosto - 2022'
 '08 - FEBRERO - 2022 AL 19 - FEBRERO - 2022'
 '24 - AGOSTO - 2021 AL 04 - SETIEMBRE - 2021'
 '07 - FEBRERO - 2022 AL 18 - FEBRERO - 2022'
 '03 - ENERO - 2022 AL 21 - ENERO - 2022\n'
 '08 - FEBRERO - 2022 AL 18 - FEBRERO - 2022'
 '08 - FEBRERO - 2022 AL 16 - FEBRERO - 2022'
 '19 - julio - 2022 al 30 - julio - 2022'
 '07 - marzo - 2022 al 25 - marzo - 2022'
 '18 - abril - 2022 al 29 - abril - 2022'
 '13 - junio - 2022 al 24 - junio - 2022'
 '27 - junio - 2022 al 08 - julio - 2022'
 '28 - junio - 2022 al 09 - julio - 2022'
 '21 - junio - 2022 al 02 - julio - 2022'
 '02 - mayo - 2022 al 20 - mayo - 2022'
 '20 - junio - 2022 al 01 - julio - 2022'
 '21 - junio - 2022 al 08 - julio - 2022'
 '16 - agosto - 2022 al 27 - agosto - 2022'
 '04 - julio - 2022 al 15 - julio - 2022'
 '18 - julio - 2022 al 30 - julio - 2022'
 '18 - julio - 2022 al 29 - julio - 2022'
 '12 - julio - 2022 al 23 - julio - 2022'
 '22 - marzo - 2022 al 02 - abril - 2022'
 '28 - febrero - 2022 al 23 - marzo - 2022'
 '01 - agosto - 2022 al 06 - agosto - 2022'
 '15 - MARZO - 2022 AL 26 - MARZO - 2022'
 '14 - MARZO - 2022 AL 25 - MARZO - 2022'
 '07 - MARZO - 2022 AL 18 - MARZO - 2022'
 '15 - FEBRERO - 2022 AL 26 - FEBRERO - 2022'
 '21 - MARZO - 2022 AL 02 - ABRIL - 2022'
 '28 - FEBRERO - 2022 AL 11 - MARZO - 2022'
 '07 - MARZO - 2022 AL 25 - MARZO - 2022'
 '08 - MARZO - 2022 AL 26 - MARZO - 2022'
 '14 - FEBRERO - 2022 AL 04 - MARZO - 2022'
 '15 - FEBRERO - 2022 AL 05 - MARZO - 2022'
 '11 - ENERO - 2022 AL 29 - ENERO - 2022'
 '22 - FEBRERO - 2022 AL 05 - MARZO - 2022'
 '21 - FEBRERO - 2022 AL 05 - MARZO - 2022'
 '08 - MARZO - 2022 AL 19 - MARZO - 2022'
 '07 - MARZO - 2022 AL 18- MARZO - 2022'
 '14 - FEBRERO - 2022 AL 25- FEBRERO - 2022'
 '14 - FEBRERO - 2022 AL 25 - FEBRERO - 2022'
 '22 - agosto - 2022 al 02 - setiembre - 2022'
 '29 - agosto - 2022 al 09 - setiembre - 2022'
 '15 - febrero - 2022 al 04 - marzo - 2022'
 '21 - julio - 2020 al 05 - setiembre - 2020'
 '14 - febrero - 2022 al 04 - marzo - 2022'
 '29 - agosto - 2022 al 16 - setiembre - 2022'
 '16 - AGOSTO - 2021 AL 03 - SETIEMBRE - 2021'
 '01 - MARZO - 2022 AL 19 - MARZO - 2022'
 '28 - FEBRERO - 2022 AL 23 - MARZO - 2022'
 '01 - MARZO - 2022 AL 24 - MARZO - 2022'
 '29 - NOVIEMBRE - 2021 AL 17 - DICIEMBRE - 2021'
 '23 - AGOSTO - 2021 AL 03 - SETIEMBRE - 2021 '
 '02 - AGOSTO - 2021 AL 13 - AGOSTO - 2021'
 '07 - DICIEMBRE - 2021 AL 18 - DICIEMBRE - 2021 '
 '03 - ENERO - 2022 AL 16 - ENERO - 2022'
 '16 - NOVIEMBRE - 2021 AL 27 - NOVIEMBRE - 2021'
 '03 ENERO - 2022 AL 14 - ENERO - 2022'
 '04 ENERO - 2022 AL 15 - ENERO - 2022'
 '09 - MARZO - 2021 AL 27 - MARZO - 2021'
 '01 - MARZO - 2022 AL 12 - MARZO - 2022'
 '28 - FEBRERO - 2022  AL  11 - MARZO - 2022'
 '21 - FEBRERO - 2022 AL 04 - MARZO - 2022'
 '16 - agosto - 2022 al 03 - setiembre - 2022'
 '04 - abril - 2022 al 22 - abril - 2022'
 '06 - setiembre - 2022 al 17 - setiembre - 2022'
 '13 - setiembre - 2022 al 01 - octubre - 2022'
 '29- MARZO - 2022 AL 09 - ABRIL - 2022'
 '22 - MARZO - 2022 AL 02 - ABRIL - 2022'
 '28 - MARZO - 2022 AL 08 - ABRIL - 2022'
 '23 - agosto - 2022 al 03 - setiembre - 2022'
 '26 - setiembre - 2022 al 07 - octubre - 2022'
 '27 - setiembre - 2022 al 08 - octubre - 2022'
 '14 - junio - 2022 al 25 - junio - 2022'
 '23 - mayo - 2022 al 10 - junio - 2022'
 '14 - marzo - 2022 al 25 - marzo - 2022'
 '09 - mayo - 2022 al 20 - mayo - 2022'
 '24 - mayo - 2022 al 04 - junio - 2022'
 '19 - abril - 2022 al 30 - abril - 2022'
 '19 - julio - 2022 al 06 - agosto - 2022'
 '03 - mayo - 2022 al 14 - mayo - 2022'
 '26 - abril - 2022 al 07 - mayo - 2022'
 '02 - mayo - 2022 al 13 - mayo - 2022'
 '10 - mayo - 2022 al 21 - mayo - 2022'
 '04 - abril - 2022 al 15 - abril - 2022'
 '03 - mayo - 2022 al 21 - mayo - 2022'
 '03 - enero - 2022 al 21 - enero - 2022'
 '28 - marzo - 2022 al 08 - abril - 2022'
 '17 - MAYO - 2021 AL 29 - MAYO - 2021'
 '16 - AGOSTO - 2021 AL 07 - SETIEMBRE - 2021'
 '17 - enero - 2022 al 04 - febrero - 2022'
 '08 - agosto - 2022 al 26 - agosto - 2022'
 '22 - agosto - 2022 al 03 - setiembre - 2022'
 '21 - febrero - 2022 al 05 - marzo - 2022'
 '04 - ABRIL - 2022 AL 15 - ABRIL - 2022'
 '05 - ABRIL - 2022 AL 16 - ABRIL - 2022'
 '21 - MARZO - 2022 AL 01 - ABRIL - 2022'
 '29 - MARZO - 2022 AL 09 - ABRIL - 2022'
 '22 - MARZO- 2022 AL 02 - ABRIL - 2022'
 '22 - agosto - 2022 al 02 - setiembre - 2022                '
 '15 - marzo - 2022 al 26 - marzo - 2022'
 '08 - marzo - 2022 al 19 - marzo - 2022'
 '07 - SETIEMBRE - 2021 AL 25 - SETIEMBRE - 2021'
 '21 - FEBRERO - 2022 AL 4 - MARZO - 2022'
 '05 - julio - 2022 al 16 - julio - 2022'
 '20 - junio - 2022 al 08 - junio - 2022'
 '24 - enero - 2022 al 11 - febrero - 2022'
 '28 - febrero - 2022 al 11 - marzo - 2022'
 '08 - marzo - 2022 al 26 - marzo - 2022'
 '19 - setiembre - 2022 al 07 - octubre - 2022'
 '31 - enero - 2022 al 11 - febrero - 2022'
 '11 - ABRIL - 2022 AL 22 - ABRIL - 2022'
 '05 - ABRIL - 2022 AL 26 - ABRIL - 2022'
 '04 - ABRIL - 2022 AL 22 - ABRIL - 2022'
 '18 - enero - 2022 al 29 - enero - 2022'
 '11 - enero - 2022 al 29 - enero - 2022'
 '01 - febrero - 2022 al 12 - febrero - 2022'
 '26 - octubre - 2021 al 06 - noviembre - 2021'
 '10 - enero - 2022 al 28 - junio - 2022'
 '08 - febrero - 2022 al 19 - febrero - 2022'
 '15 - febrero - 2022 al 26 - febrero - 2022'
 '12 - ABRIL- 2022 AL 23 - ABRIL - 2022']

Frequency of each course:

PERIODO
01 - FEBRERO - 2022 AL 12 - FEBRERO - 2022      268
17 - ENERO - 2022 AL 04 - FEBRERO - 2022        212
31 - ENERO - 2022 AL 11 - FEBRERO - 2022        202
18 - ENERO - 2022 AL 29 - ENERO - 2022          185
08 - FEBRERO - 2022 AL 19 - FEBRERO - 2022      184
                                               ...
11 - enero - 2022 al 29 - enero - 2022            1
26 - octubre - 2021 al 06 - noviembre - 2021      1
10 - enero - 2022 al 28 - junio - 2022            1
08 - febrero - 2022 al 19 - febrero - 2022        1
15 - febrero - 2022 al 26 - febrero - 2022        1
Name: count, Length: 171, dtype: int64

### HORAS

In [9]:
# Analyze the 'HORAS' column
print("--- Unique Values Analysis: HORAS---")

# Number of unique values
unique_count = df['HORAS'].nunique()
print(f"Number of unique values: {unique_count}")

# List of unique values
print(f"\nUnique values found: {df['HORAS'].unique()}")

# Frequency of each value (Value Counts)
print("\nFrequency of each course:")
display(df['HORAS'].value_counts())

--- Unique Values Analysis: HORAS---
Number of unique values: 8

Unique values found: ['120 horas' '160 horas' '120 HORAS' '160 HORAS' '60 horas' '126 HORAS'
 '92 HORAS' '120 horas ']

Frequency of each course:

HORAS
120 HORAS     3207
120 horas     1823
160 HORAS     1076
160 horas      400
126 HORAS      357
60 horas        21
120 horas       10
92 HORAS         2
Name: count, dtype: int64

### CIUDAD

In [10]:
# Analyze the 'CIUDAD' column
print("--- Unique Values Analysis: CIUDAD---")

# Number of unique values
unique_count = df['CIUDAD'].nunique()
print(f"Number of unique values: {unique_count}")

# List of unique values
print(f"\nUnique values found: {df['CIUDAD'].unique()}")

# Frequency of each value (Value Counts)
print("\nFrequency of each course:")
display(df['CIUDAD'].value_counts())

--- Unique Values Analysis: CIUDAD---
Number of unique values: 122

Unique values found: ['LIMA' 'ICA' 'TUMBES' 'LAMBAYEQUE' 'APURIMAC' 'AREQUIPA' 'PIURA'
 'UCAYALY' 'ANCASH' 'JUNIN' 'AYACUCHO' 'MOQUEGUA' 'LORETO' 'JUNÍN'
 'APURÍMAC' 'CUSCO' 'LA LIBERTAD' 'UCAYALI' 'PUNO' 'HUÁNUCO' 'TACNA'
 'OTRO PAÍS' 'CAJAMARCA' 'ÁNCASH' 'HUANUCO' 'SAN MARTÍN' 'Lima'
 'La Libertad' 'Lambayeque' 'Junín' 'MADRE DE DIOS' 'AMAZONAS' 'PASCO'
 'CAÑETE' 'ABANCAY' 'PUERTO MALDONADO' 'CAJABAMBA' 'CHICLAYO' 'APURÌMAC'
 'LAMBAYEQUE ' 'HUANCAVELICA' 'CALLAO' 'SAN MARTIN' nan 'APURÍMAC '
 'NUEVO CHIMBOTE' 'Cusco' 'Piura' 'Cajamarca' 'Ayacucho' 'Apurímac'
 'Huánuco' 'Amazonas' 'Junín ' 'Arequipa' 'Tumbes' 'Áncash' 'San Martín'
 'Pasco' 'LIMA ' 'APURIMAC ' 'Puno' 'Ica' 'HUANCANÉ' 'CHINCHEROS' 'HUACHO'
 'TARAPOTO' 'CHIMBOTE' 'TRUJILLO' 'SATIPO' 'CHEPEN' 'HUANCAYO' 'Loreto'
 'ANCASH ' 'HUARAL' 'CHINCHA ALTA' 'JULIACA' 'CANCHIS' 'HONDURAS'
 'Huancavelica' 'Moquegua' 'HUANCARAMA' 'Challhuahuacho' 'Haquira'
 'Abancay' 'Chalhuanca' 'Coyllurqui' 'Cotabambas' 'Antabamba' 'Aymaraes'
 'Tambobamba' 'Andahuaylas' 'ANDAHUAYLAS' 'ANTABAMBA' 'GRAU' 'ÁNCAHS'
 'CHINCHA' 'SAN IGNACIO' 'CAJAMARCA ' 'BOLIVIA' 'IQUITOS' 'BARRANCA'
 'Chincha' 'Iquitos' 'LIMA - CALLAO' 'JUNÍN ' 'Otro País (Honduras)'
 'Tacna' 'OTRO PAIS' 'MEXICO' 'COLOMBIA' 'ICA ' 'MOYOBAMBA' 'TOCACHE'
 'NICARAGUA' 'ILO' 'HUAMANGA' 'LA LIBERTAD ' 'ECUADOR' 'LIMA    ' 'ancash'
 'apurimac' 'OTRO PAÍS (ECUADOR)']

Frequency of each course:

CIUDAD
LIMA                   2453
Lima                    288
AREQUIPA                273
APURIMAC                256
APURÍMAC                253
                       ...
LA LIBERTAD               1
LIMA                      1
ancash                    1
apurimac                  1
OTRO PAÍS (ECUADOR)       1
Name: count, Length: 122, dtype: int64